<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--link rel="shortcut icon" href="../../assets/ico/favicon.ico"-->

  <title>Manasaram Architects</title>

  <link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css" media="all"/>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" /> 
  <link href="/static/css/doc-search.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="http://www.manasaramarchitects.com">Manasaram Architects</a>
      <ul class="nav pull-right">
       <li class="active"><a href="/fms/document/search/">Document Search</a></li>
       <li><a href="/fms/document/list/">Document List</a></li>
       <li><a href="/fms/book/search/">Book Search</a></li>
       <li><a href="/fms/book-list/">Books List</a></li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">LMS<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/fms/issue-books/">Book Issue Form</a></li>
          <li><a href="/fms/submit-books/">Book Submit Form</a></li>
          <li class="divider"></li>
          <li><a href="/fms/list-all-book-issues/">Book Issue list</a></li>
        </ul>
       </li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.first_name}}  {{user.last_name}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/">Admin</a></li>
            <!--li class="divider"></li-->
            <li><a href="/fms/logout/">Logout</a></li>
          </ul>
         </li>
      </ul>
    </div>
  </div>
  <h3 style="text-align:center;">DOCUMENT SEARCH</h3>
  <h4 style="text-align:center;">FILE MANAGEMENT SYSTEM</h3><br>
  <div class="container">
    
    <legend>Search Documents</legend>
    <form class="form1" action="#">
      <table class="table1" cellspacing="0" cellpadding="0">
        <tr class="search-box">
          <td class="search">
            <input type="text" class="search-bar" name="q" PLACEHOLDER="Search documents..."/>
          </td>
          <td class="filter1box">
            <select class="filter1">
              <option value="">Category</option>
              <option value="MA">MANASARAM</option>
              <option value="CGBMT">CGBMT</option>
              <option value="AGS">ADITI GREEN SCAPES</option>
              <option value="AC">ADITI CONSTRUCTION</option>
              <option value="MISC">MISCELLANEOUS</option>
            </select>
          </td>
        </tr>
      </table>
    </form>
    <div style="clear:both;"></div>
    <div id="main"></div>
    <br><br><br>
    <div class="footer">Copyright © 2014 by Manasaram Architects</div>
  </div>

  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/js/doc-search.js"></script>
</body>
</html>
