<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% load fms_filters %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--link rel="shortcut icon" href="../../assets/ico/favicon.ico"-->

  <title>Manasaram Architects</title>

  <link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css" media="all"/>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" /> 
  <link href="/static/css/doc-list.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="http://www.manasaramarchitects.com">Manasaram Architects</a>
      <ul class="nav pull-right">
       <li><a href="/fms/document/search/">Document Search</a></li>
       <li class="active"><a href="/fms/document/list/">Document List</a></li>
       <li><a href="/fms/book/search/">Book Search</a></li>

       <li><a href="/fms/book-list/">Books List</a></li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">LMS<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/fms/issue-books/">Book Issue Form</a></li>
          <li><a href="/fms/submit-books/">Book Submit Form</a></li>
          <li class="divider"></li>
          <li><a href="/fms/list-all-book-issues/">Book Issue list</a></li>
        </ul>
       </li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.first_name}}  {{user.last_name}}<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/admin/">Admin</a></li>
          <!--li class="divider"></li-->
          <li><a href="/fms/logout/">Logout</a></li>
        </ul>
       </li>
      </ul>
    </div>
  </div>

  <!-- Main Page Container -->
  <h3 style="text-align:center;">DOCUMENT LIST</h3>
  <h4 style="text-align:center;">LIBRARY MANAGEMENT SYSTEM</h3><br>
  <div class="container">
     <table class="table1" cellspacing="0" cellpadding="0">
        <tr class="filter-box">
          <td>
            <span>Filters: </span>
          </td>
          <td class="filter1box">
            <select class="filter1">
              <option value="">Category</option>
              <option value="MA">Manasaram</option>
              <option value="CGBMT">CGBMT</option>
              <option value="AGS">AditiGreenscapes</option>
              <option value="AC">Aditi Construction</option>
            </select>
          </td>
        </tr>
      </table>
      <div class="btn_box">
        <button class="get_list_btn btn btn-primary">Get List</button> 
      </div>
      <hr/>
    <div id="main">
     <div class="pagination">
      <ul>
       {% if docs.number %}
         {% if docs.has_previous %}
          <li><a href="?page={{ docs.previous_page_number }}">Prev</a></li>
         {% endif %}
         <li><span>Page {{ docs.number  }} of {{ docs.paginator.num_pages  }}</span></li>
         {% if docs.has_next %}
           <li><a href="?page={{ docs.next_page_number }}">Next</a></li>
         {% endif %}
       {% endif %}
      </ul>
     </div> 
       
      {% for doc in docs %}
      <div class="doc-data">
      <legend> {{doc.name}} </legend>
      <table class="entry-table table table-striped table-bordered table-condensed">
        <tr>
          <td>
            <div class="doc-table">
              <table class="table table-striped table-bordered table-condensed">
                <tr>
                  <td>Name: </td>
                  <td>{{doc.name|format_val}}</td>
                </tr>
                <tr>
                  <td>Address: </td>
                  <td>{{doc.address|format_val}}</td>
                </tr>
                <tr>
                  <td>Category: </td>
                  <td>{{doc.cat.name|format_val}}</td>
                </tr>
                <tr>
                  <td>SubCategory-1: </td>
                  <td>{{doc.subcat1.name|format_val}}</td>
                </tr>
                <tr>
                  <td>SubCategory-2: </td>
                  <td>{{doc.subcat2.name|format_val}}</td>
                </tr>
                <tr>
                  <td>Rack: </td>
                  <td>{{doc.rack.rack_name|format_val}}</td>
                </tr>

                <tr>
                  <td>Availability: </td>
                    {% if doc.avilability_status|format_val == "YES" %}
                      <td><span style="color:green;"><b>{{doc.avilability_status|format_val}}</b></span></td>
                    {% else %}
                      <td><span style="color:red;"><b>{{doc.avilability_status|format_val}}</b></span></td>
                    {% endif %}
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <br>
  {% endfor %}

   <div class="pagination">
    <ul>
     {% if docs.number %}
       {% if docs.has_previous %}
        <li><a href="?page={{ docs.previous_page_number }}">Prev</a></li>
       {% endif %}
       <li><span>Page {{ docs.number  }} of {{ docs.paginator.num_pages  }}</span></li>
       {% if docs.has_next %}
         <li><a href="?page={{ docs.next_page_number }}">Next</a></li>
       {% endif %}
     {% endif %}
    </ul>
   </div> 
  </div>
    <br><br><br>
    <div class="footer">Copyright © 2014 by Manasaram Architects</div>
  </div>

  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/js/doc-list.js.js"></script>
</body>
</html>
